<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>AtomicsPerformanceTests</key>
		<dict>
			<key>testPerformanceOSAtomicCASFailure()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.032026</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceOSAtomicCASSuccess()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039331</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceRead()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0034838</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceStore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0097309</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceSwiftCASFailure()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.050644</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceSwiftCASSuccess()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceSynchronizedRead()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023886</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
			<key>testPerformanceSynchronizedStore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01786</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 8, 2018 at 16:15:52</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
