os: linux
dist: bionic
language: generic

jobs:
  include:
    - os: osx
      osx_image: xcode8.3
      env: SWIFT=3.1.1

    - os: osx
      osx_image: xcode9.2
      env: SWIFT=4.0.3

    - os: osx
      osx_image: xcode9.4
      env: SWIFT=4.1.2

    - os: osx
      osx_image: xcode10.1
      env: SWIFT=4.2.1

    - os: osx
      osx_image: xcode10.3
      env: SWIFT=5.0.3

    - os: osx
      osx_image: xcode11.3
      env: SWIFT=5.1.3

    - os: osx
      osx_image: xcode11.4
      env: SWIFT=5.2

    - dist: xenial
      env: SWIFT=3.1.1

    - dist: xenial
      env: SWIFT=4.0.3

    - dist: xenial
      env: SWIFT=4.1.3

    - env: SWIFT=4.2.4

    - env: SWIFT=5.0.3

    - env: SWIFT=5.1.5

    - env: SWIFT=5.2.3

before_install:
  - . Utilities/install-swift.sh

script:
  - /bin/bash Utilities/validate-gybbed-files.sh
  - /bin/bash Tests/test-script.sh
